@charset "UTF-8";

/* Estilo para impressoras */

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu{
    display: none; /* o menu não aparecerá para impressoras (quando vc for imprimir)*/
}

article{
    width: 100%;
}

article::after{ 
    content: 'Esse artigo foi impresso através do site www.cursoemvideo.com';
    /*Essa configuração é para aparecer a mensagem acima quando o site for impresso. */
}