@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&');

@font-face {
    font-family: 'Conquest';
    src: url('fonts/Conquest.ttf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor-principal: #01A3C7;
    --cor-titulo: #FFE250;
    --cor-subtitulo: #ebd048;
    --fonte-titulo: 'Archivo Black';
}

html{
    font-size: 62.5%; /*1rem = 10px*/
}

body{
    font-size: 1.6rem;
    background-color: rgb(24, 21, 21);
}

header{
    background-image: linear-gradient(to bottom, #01A3C7 60%, rgba(0, 0, 0, 0.514));
    background-color: var(--cor-principal);
    margin-bottom: 2em;
    padding-bottom: .5em;
    min-width: 850px;
}

header > h1{
    font-family: var(--fonte-titulo);
    font-size: 8em;
    text-align: center;
    color: var(--cor-titulo);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.514);
}

header a{
    color: white;
    padding: 7px 10px;
    font-size: 1.3em;
    text-decoration: none;
    border-radius: 10px;
    transition: color .5s, background-color .5s;
}

header a:hover{
    color: var(--cor-titulo);
    background-color: rgba(0, 0, 0, 0.233);
    text-decoration: underline;
}

main{
    position: relative;
    display: block;
    margin: auto;
    background-color: white;
    min-width: 200px;
    width: 850px;
    margin-bottom: 2em;
    padding-bottom: 3px;
    font: normal normal 1.2em Georgia, sans-serif;
    border-radius: 5px;
}

main h1{
    font-size: 2em;
    padding: 20px;
    padding-bottom: 15px;
    font-family: var(--fonte-titulo);
    color: var(--cor-subtitulo);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.425);
}

main h2{
    padding: 20px;
    font-size: 1.3em;
    color: var(--cor-subtitulo);
}

main p{
    padding: 5px 20px;
    text-indent: 1.1em;
    text-align: justify;
    line-height: 1.7em;
}

main ul{
    padding: 5px 30px;
}

main ul li{
    padding: 7px;
}

.conteudo > a{
    color: blue;
    text-decoration: none;
    background-image: linear-gradient(to right, var(--cor-principal), rgb(168, 198, 233));
}

.conteudo > a:hover{
    text-decoration: underline;
    outline: 1px solid blue;
}

.conteudo > a::after{
    content: '        \1F587\FE0F'; /*ao invés do espaço, poderia ser usado \00A0*/
}

.subtitulo{
    font-weight: bold;
    color: var(--cor-principal);
}

main > article > .personagens img{
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

main > .personagens h2{
    font-family: Conquest;
}

aside{
    background-color: #01A3C7;
    border-radius: 15px;
    margin: 30px auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 750px;
}

aside > h3{
    color: white;
    background-color:#00596d;
    font-size: 1em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
}

aside > ul{
    padding: 10px 60px;
    columns: 2;
    list-style-type: circle;
}

aside a{
    color: var(--cor-subtitulo);
}

aside a:visited{
    color: var(--cor-subtitulo);
}

aside a:hover{
    color: var(--cor-titulo);
}

aside a:active{
    color: white;
}

.gradient{
    background-image: radial-gradient(circle, yellow 1%, rgb(81, 81, 255) 90%);
    background-color: rgb(81, 81, 255);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
}

.fixed{
    position: fixed;
    color: yellow;
    bottom: 20px;
    right: 20px;
}

.teste::after{
    content: '\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0 Palavra2';
}

footer{
    background-color: var(--cor-principal);
    text-align: center;
    padding: 10px;
    min-width: 850px;
}

address{
    font-style: normal;
    color: white;
}

address a{
    color: white;
}

address a:hover{
    color: var(--cor-titulo);
}